<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="bootstrap">  
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" ></link>
<!-- <script th:src="@{/js/jquery-1.12.4.min.js}"></script> -->
<script th:src="@{/mobile/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/md5.js}"></script>
<script th:src="@{/js/jquery.tmpl.js}"></script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>answerShow</title>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<!-- 页头开始 -->
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					AskPro <small>这是测试</small>
				</h1>
			</div>
			<ul class="breadcrumb">
				<li>
					 <a href="#">个人中心</a>
				</li>
				<li>
					 <a href="#">Library</a>
				</li>
				<li class="active">
					Data
				</li>
			</ul>
		</div>
		<!-- 页头结束 -->
		<!-- 内容开始 -->
		<div class="col-md-12 column" style="margin-bottom:20%;">
			<dl>
				<dt id="questTitle">
				</dt>
				<dd id="questBody">
				</dd>
			</dl>
			<div id="answerListShow">
			
			</div>
			<button type="button" class="btn btn-default btn-block" onclick="getMore()" id="more">获取更多</button>
			<button type="button" class="btn btn-default btn-block" onclick="createNew()" id="create">添加回答</button>
			
		</div>
		<!-- 内容结束 -->
	
		<!-- 页脚开始 -->
		<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container text-center login-bottom">
				&copy; 2017 <br/> Powered by ficito.d2k@gmail.com
			</div>
		</div>
		<!-- 页脚结束 -->
	
	</div>
</div>
</body>
<script id="answerTemp" type="type/x-jquery-tmpl">
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="panel-title collapsed" data-toggle="collapse" style="font-size:13px;"
				href="#panel-element-${answerId}">${userName} time:${answerUpdateTime}</a>
		</div>
		<div id="panel-element-${answerId}" class="panel-collapse collapse">
			<div class="panel-body">
				${answerContent}
				<br/><br/><br/>
				<div class="btn-group btn-group-xs">
					<button type="button" class="btn btn-default">评论</button>
					<button type="button" class="btn btn-default">点赞</button>
				</div>
			</div>
		</div>
	</div>
</div>
</script>
<script type="text/javascript">
var tokenName = "askPro_token"
var loginError = '400';
//登录页[常用链接]
var loginUrl = "/view/login";
//问题修改或新建
var askUrl = "/view/questEdit";
//所有问题列表
var allQuestUrl = "/view/questShow";
//获取问题
var questUrl = "/quest/get";
//回答问题
var answerUrl = "/view/answerEdit";
//当前页
var page = 0;
//页面查询起始
var pageStart = 0;
//加载下一页
var hasMore = true;

//当前问题的所有答案
var answerListUrl = "/quest/answerList";
var token = $.cookie(tokenName);
var questId = $.cookie("questId")?$.cookie("questId"):0;

if(token == null || token == ''){
	alert("当前未登录,需要登录/注册才能回答问题");
	var clazz = "btn btn-inverse btn-default disabled btn-block";
	$("#create").attr("class",clazz);
}
if(questId == 0){
	alert("问题不存在,请重新选择");
	turnViewUrl(allQuestUrl);
}
getAnswerListByQuestId();

function getAnswerListByQuestId(){
	var reqData = {"token":token,"obj":questId}
	var responseData = ajaxRequest(questUrl, reqData);
	if(responseData.code != 1){
		return null;
	}
	questionShow(responseData.object);
	reqData = {"token":token,"obj":{"pageStart":pageStart,"questId":questId}};
	responseData = ajaxRequest(answerListUrl,reqData);
	answerShow(responseData.object)
}
//加载下一页
function getMore(){
	if(hasMore){
		console.info("getting more ...");
	}
}
//问题展示;
function questionShow(questionObj){
	var html = "标题:"+questionObj.questTitle+"<br/>"+questionObj.questUpdateTime;
	$("#questTitle").html(html);
	html = questionObj.questBody+"<br/>";
	$("#questBody").html(html);
}
//问题回答列表展示
function answerShow(pageBody){
	var content = pageBody.pageContent;
	$('#answerTemp').tmpl(content).appendTo('#answerListShow');
	if(pageBody.countSize < pageBody.pageSize){
		var clazz = "btn btn-inverse btn-default disabled btn-block";
		$("#more").attr("class",clazz);
		$("#more").html("没有更多了");
		hasMore = false;
	}else{
		page++;
	}
}
//前往回答问题页面
function createNew(){
	turnViewUrl(answerUrl);
}
//展示页面跳转[每页都需要]
function turnViewUrl(url){
	window.location.href=url;
}
//ajax请求[每页都需要]
function ajaxRequest(reqUrl,reqData){
	var responseData = {};
	$.ajax({
		type:"POST",
		url:reqUrl,
		contentType : "application/json; charset=utf-8",
		async: false,
		data:JSON.stringify(reqData),
		success:function(data){
			responseData = JSON.parse(data);
			if(responseData.code == loginError){
				alert("登录失效,请重新登录");
				turnViewUrl(loginUrl);
				return null;
			}
			if(responseData.code != "1"){
				alert(responseData.message);
			}
		},
	});
	return responseData;
}
</script>
</html>