<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="common/layout :: header"></div>
<body>
<div class="container">
	<div class="row clearfix">
		<div th:insert="common/layout :: top"></div>
		<!-- 内容开始 -->
		<div class="col-md-12 column">
		<div class="list-group" style="margin-bottom:20%;">
			<a href="#" class="list-group-item active" onclick="createNew()">问题展示/新建问题</a>
			<div id="questionList">
			</div>
			<a class="list-group-item active" id="getMore" onclick="getQuestionList()"> <span id="count" class="badge">0</span>更多问题</a>
		</div>
		</div>
		<!-- 内容结束 -->
		<div th:insert="common/layout :: footer"></div>
	</div>
</div>
</body>
<script type="text/javascript">
var tokenName = "askPro_token"
var userIndexUrl = "/user/userIndex";
var loginUrl = "/view/login";
//var myQuestUrl = "/user/userInfoGet";
var allQuestUrl = "/quest/allShow";
var answerUrl = "/view/answerShow";
var getQuestUrl = "/view/questEdit";
var questIdList = [];
var page = 0;
var pageStart = 0;
var questionSize = 0;
var getMore = true;

var token = $.cookie(tokenName);
if(token == null || token == ''){
	alert("登录失效,请重新登录");
	turnView(loginUrl);
}
getQuestionList();
console.info(questIdList.length);
$(function(){     
    $(".list-group-item").each(function(){  
        $(this).click(function(){
        	var id = $(this).attr("id")?$(this).attr("id"):0;
        	if(id > 0){
        		clickevent(id);
        	}
        });  
    });  
});

//页面跳转
function clickevent(questId){
	$.cookie("questId",questId);
	console.info($.cookie("questId"));
	turnView(answerUrl);
}
//获取问题列表
function getQuestionList(){
	if(!getMore){
		return null;
	}
	var url = allQuestUrl;
	var reqData = {"token":token,"obj":pageStart};
	var response = ajaxRequest(url, reqData);
	if(response.code != 1){
		turnView(loginUrl);
	}
	console.info(response.object);
	questionListShow(response.object.pageContent, response.object.countSize);
	pageSize = response.object.pageSize;
	if(pageSize != response.object.countSize){
		clickInvalid();
	}else{
		page ++;
		pageStart = page*pageSize;
		console.info("pageStart="+pageStart);
	}
}

//所有加载完成,点击失效
function clickInvalid(){
	var html = "<span id='count' class='badge'>"+questionSize+"</span>"+"没有更多了";
	$("#getMore").html(html);
	getMore = false;
}

//ajax请求
function ajaxRequest(reqUrl,reqData){
	var responseData = {};
	$.ajax({
		type:"POST",
		url:reqUrl,
		contentType : "application/json; charset=utf-8",
		async: false,
		data:JSON.stringify(reqData),
		success:function(data){
			responseData = JSON.parse(data);
			if(responseData.code != "1"){
				alert(responseData.message);
			}
		},
	});
	return responseData;
}

function questionListShow(questionList,questionCount){
	console.info("count="+questionCount);
	console.info("size="+questionSize);
	questionSize += questionCount; 
	$("#count").html(questionSize);
	for(var i = 0; i < questionCount; i++){
		questionObj = questionList[i];
		var html = "<div class='list-group-item' id='"+questionList[i]['questId']+"'>"+
			"标题:"+questionList[i]['questTitle']+"<br>"+
			"最近更新时间:"+questionList[i]['questUpdateTime']+
			"</div>";
		$("#questionList").append(html);
		questIdList[i] = questionList[i]['questId'];
	}
}
function createNew(){
	$.cookie("questId",0);
	turnView(getQuestUrl);
}
function turnView(url){
	location.href=url;
}

</script>
</html>