<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="common/layout :: header"></div>
<body>
<div class="container">
	<div class="row clearfix">
		<div th:insert="common/layout :: top"></div>
	
		<div class="col-md-12 column"  style="margin-bottom:20%;">
			<form id="singIn" action="#" class="form-horizontal" role="form" onsubmit="return saveAndPost();">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">标题</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="title" />
					</div>
				</div>
				<div class="form-group">
					<label for="input" class="col-sm-2 control-label">内容</label>
					<div class="col-sm-10">
					<textarea class="form-control" rows="15" cols="30" id="content">
						
					</textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						 <button type="submit" class="btn btn-default" id="sub">提交</button>
					</div>
				</div>
			</form>
		</div>
		
		<div th:insert="common/layout :: footer"></div>
	</div>
</div>
</body>
<script type="text/javascript">
var tokenName = "askPro_token";
var actionUrl = "/view/userIndex";
var subUrl = "/quest/create";
var questionGetUrl = "/quest/get";
var questId = $.cookie("questId")?$.cookie("questId"):0;
console.info(questId);
if(questId != 0){
	var question = getQuestion(questId);
	console.info(question);
	//$.cookie("questId",0);
	$("#title").val(question.questTitle);
	$("#content").html(question.questBody);
}

//根据id获取question对象
function getQuestion(questId){
	var token = $.cookie(tokenName);
	var subData = {"token":token,"obj":questId};
	var result;
	console.info(token);
	console.info(subData);
	$.ajax({
		type:"POST",
		url:questionGetUrl,
		async: false,
		contentType : "application/json; charset=utf-8",
		data:JSON.stringify(subData),
		success:function(data){
			var data = JSON.parse(data);
			console.info(data);
			result = data.object;
			if(data.code != "1"){
				alert(data.message);
			}
		},
	});
	return result;
}

//点击提交事件
function saveAndPost(){
	var title = $("#title").val();
	var content = $("#content").val();
	if(subValidate(title, content)){
		var result = submit(title, content);
	}
	if(result == 1){
		gotoIndex();
	}
	return false;
}

//输入数据检验
function subValidate(title,content){
	if(!title){
		flag = false;
		alert("请正确输入标题");
		return false;
	}
	if(!content){
		flag = false;
		alert("正文不能为空");
		return false;
	}
	return true;
}

//成功后跳转页面
function gotoIndex(){
	location.href=actionUrl;
}

//提交登录数据
function submit(title,content){
	var resultCode = 0;
	var token = $.cookie(tokenName);
	var subData = {"token":token,"obj":{"questTitle":title,"questBody":content}};
	$.ajax({
		type:"POST",
		url:subUrl,
		async: false,
		contentType : "application/json; charset=utf-8",
		data:JSON.stringify(subData),
		success:function(data){
			var data = JSON.parse(data);
			console.info(data);
			resultCode = data.code;
			if(resultCode != "1"){
				alert(data.message);
			}
		},
	});
	return resultCode;
}


</script>
</html>